.content{
    margin-top:10px;
}
.contentsection-left .para1{
    text-align: center;
    font-size: 55px;
}
.contentsection-left .para2{
    text-align: center;
    font-size: 30px;
}
.contentsection-right img{
    width:100%;
}
.contentsection-left{
    text-align: center;
}
.contentsection-left .but{
    background-color: blue;
    margin-top:70px;
}